.mypage-container {
    display: flex;
    width: 100%;
    min-height: 50vh;
}

/* 왼쪽 메뉴 스타일 */
.menu-wrapper {
    flex: 1 1 25%;
}

/* 오른쪽 콘텐츠 스타일 */
.content-wrapper {
    flex: 1 1 75%;
    padding: 20px;
}