.logo-style {
    position: absolute; 
    top: 20px; 
    left: 20px;
    width: 500px;
}

.signup-input {
    margin-bottom: 5px;
    font-size: 16px;
}

.signup-email-input {
    margin-top: 150px;
    margin-left: -310px;
}

.signup-pw-input {
    margin-left: -280px;
}

.signup-name-input {
    margin-left: -320px;
}

.signup-nickname-input {
    margin-left: -300px;
}

.signup-phone-input {
    margin-left: -320px;
}

.signup-input-field {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.signup-duplicate-input-field {
    width: 100%;
    max-width: 280px;
    margin-bottom: 20px;
}

.signup-button {
    margin-top: 30px;
}

.validate-chk-button {
    width: 100%;
    max-width: 110px;
    padding: 8px; 
    font-size: 16px; 
    border-radius: 20px; 
    border: 5px solid #B7E792;
    background-color : #B7E792;
    color: white;
    margin-left:10px;
    box-sizing: border-box;
}

.validate-chk-button.success {
    background-color: #d0e3c1;
    border: 5px solid #d0e3c1;
}